/* Header */
.large-header {
	position: relative;
	width: 100%;
	height: 100%;
	background: #171717;
	/*overflow: hidden;*/
box-shadow: #00c0d7 inset -3px -1px 5px 2px;
	z-index: 2;
	/*transform: rotateX(180deg);*/
}


.demo-2 .large-header {
	/*background-position: center bottom;*/
}

